body{
  background-image: linear-gradient(140deg ,rgb(221, 127, 235), #aeeff1, #954dda);
  background-repeat: no-repeat;
  height: 110vh;
}
.game{
  background-image: linear-gradient(10deg,#8cb5e8d2,#aeeff1, #fbc2eb );
  margin-left: 550px;
  border: 2px solid black;
  width: 500px;
  margin-top: 20px;
}

.game h1{
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 600px)  {
  .game{
    margin-left: 18px;
    width: 300px;
}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
